---
title: Home
layout: main
pageId: home
---

<section class="text-center">
    <img class="avatar" alt="Ollie Cullimore" src="/images/olliecullimore.svg" width="220" height="280" eleventy:ignore>
    <h1>Hi, I'm Ollie 👋💻</h1>
    <h2>A passionate developer in the UK</h2>
    <p>
        I'm primarily a web developer, whether it's learning new technologies/techniques for building and maintaining websites,
        learning a deeper understanding of infrastructure management or building small projects to expand my knowledge in PHP, Go or Python.
    </p>
</section>