---
pagination:
  data: collections.tags
  size: 1
  alias: tag
permalink: "/tags/{{ tag | slugify }}/index.html"
layout: main
pageId: tag
eleventyComputed:
  title: "Posts - {{ tag }}"
---

{% include "tagbar.njk" %}

{% set posts = collections.post | filterByTag(tag) %}
{% include "postslist.njk" %}