---
pagination:
  data: collections.tags
  size: 1
  alias: tag
permalink: "/tags/{{ tag | slugify }}/index.html"
layout: main
eleventyComputed:
  title: "Posts - {{ tag }}"
  pageId: tag
---

{% set posts = collections.post | filterByTag(tag) %}
{% include "postslist.njk" %}